<div class="contents row">
  <div class="container">
    <h3>編集</h3>
    <%= form_with(model: @post, local: true) do |form| %>
      <%= form.text_field :bookname, placeholder: "本の名前" %>
      <%= form.text_field :author, placeholder: "作者" %>
      <%= form.text_field :image, placeholder: "Image Url" %>
      <%= form.text_area :story, placeholder: "ストーリー", rows: "3" %>
      <%= form.text_area :text, placeholder: "本の紹介や感想（ネタバレ禁止!!）", rows: "4" %>
      <%= form.submit "UPDATE" %>
    <% end %>
  </div>
</div>