<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <ul class='book-lists'>
    <% @posts.each do |post| %>
    <li class='list'>
      <%= link_to post_path(post.id), method: :get do %>
        <%= image_tag post.image, class: "book-img"%>
        <%= render partial: "post", locals: { post: post } %>
      <% end %>
        <div class='book-info'>
          <div class='book-name'>
            <span>タイトル : <%= post.bookname %></span>
          </div>
          <div class='book-author'>
            <span>著者名 : <%= post.author %></span>
          </div>
        </div>
    </li>
    <% end %>
  </ul>
</div>